*{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color:transparent;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	width: 100%
	font-size: 14px;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	color:#333;
	max-width:640px;
	min-width:320px;
	margin:0px auto;
	background: #f3f2f0;
}
a{
	color:#333;
	text-decoration: none;

}
a:hover{
	text-decoration:none;
}
input{
	border:none;
	outline:none;
	-webkit-appearance:none;

}
ul,ol{
	list-style:none;
}
.head_box{
	width: 100%;
	position: relative;
}
/*页面标题*/
.head_box .page_title{
	width:100%;
	background-color:white;
	
	margin:0px auto;
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	border-bottom: 1px solid #e7e6e4;
}
/*返回按钮*/
.head_box .back{
	width: 20px;
	height: 20px;
	position: absolute;
	top:10px;
	left:5px;
	background-image:url(../imags/购好货_back.png);
}
/*导航栏*/
.nav{
	font-size: 12px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 7px 5%;
    background: #fff;
}
.nav>a{
	width: 20%;
    height: 45px;
    text-align: center;
    float: left;
}
.show>p{
	height: 100%;
    background: url(../imags/show_01.png) no-repeat 0 50%;
    background-size: 100%;
}
.nav>a>b{
	display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-size: 100%;
	
}
.home>b{
    background: url(../imags/icon_01.png) no-repeat 0 -35px;

}
.circe>b{
	background: url(../imags/icon_02.png) no-repeat 0 -35px;

}
.Buy_goods>b{
	background: url(../imags/icon_03.png) no-repeat 0 -35px;

}
.my>b{
	background: url(../imags/icon_04.png) no-repeat 0 -35px;

}
/*导航栏*/
.nav_box{
	margin:auto;
	width: 100%;
	height:45px;
	overflow-x:auto;
	background-color: white;
}
.nav_box::-webkit-scrollbar {
    display: none;
}
.sencond_nav{
	width:150%;
	overflow: hidden;
	
	

}
.sencond_nav>li{
		width:12%;
		padding:13px 0px;
		float:left;
		
		font-size: 13px;
		text-align: center;
}
/*商品列表*/

.list_box{
	padding:5px;
	width:100%;
	margin:auto;
	overflow:hidden;
	display: flex;
	justify-content: space-around;
	flex-direction:row;
}
.left_box{
	width:50%;
	
}
.right_box{
	width:50%;
	
}
.goods_list{
	margin:5px;
	width: 50%;
	
	justify-content: space-around;
	background-color:white;
	
}
.goods_list img{
	width: 100%;
	display: block;
}
.goods_list .text{
	width: 80%;
	margin:auto;
	font-size: 14px;
    color: #333;
}
.text .commodity_name{
	margin:5px 0;
}
.goods_list .price{
	color: #f46c31;
    font-size: 18px;
    font-weight: bold;
}
.goods_list .text .sum{
	color: #999;
	margin:5px 0;
    font-size: 12px;
    position: relative;
}
.goods_list .text .sum span{
	position: absolute;
	right: 0px;
	
    font-size: 12px;
}
/*加载更多*/
.more{
	margin:5px auto;
	width: 95%;
	height: 40px;
	background-color:white;
	position: relative;
	line-height: 40px;
	text-align:center;
	font-size:16px;
	
}
.more span{
	width:13px ;
	height: 13px;
	position: absolute;
	background-image:url(../imags/箭头.png);
	top:16px;
}
/*footer*/
.footer{
	width: 100%;
	text-align: center;

}
.footer .first{
	margin-top:20px;
}
.footer .go_top{
	color: #999;

}
.footer .footer_nav{
	margin-top:10px;
}
.footer .border_right{
	display: inline-block;
	border-right:1px solid #333;
	padding-right: 5px;

}
#information{
	margin-top:10px;
	font-size:12px;
}

.btn_logo{
	width: 60px;
	height: 60px;
	background-image:url(../imags/btn.png);
	background-size:100%;
	margin-left: 10px;

	display: inline-block;
	vertical-align: middle;
}
.foottittle{

	margin: 5px auto;
	height: 67px;

	width: 100%;
	background-color:white;

}
.rigth_text{
	width: 60%;
	display: inline-block;
	
	vertical-align: middle;
	margin-left: 10px;

}
.downapp{
	background: #ec7309;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    width: 65px;
   	vertical-align: middle;
}